@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600&display=swap');

// paleta de colores
$yellow:#F2C744;
$orange:#F2884B;
$black:#0D0F0D;
$pink:#F227AB;
$cream:#F3E1CB;
$red:#DB2A29;

//fonts
$titulos:'Poppins', sans-serif;
$body:'Khula', sans-serif;


