@import './Variables.scss';

.admin-view{
  background-image: url(../../assets/black-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vmin;
}
.admin{
    margin-top: 10vmin;
}
.admin-options{
    margin-left: 15vmin;
    button {
        font-family: $titulos;
        margin-right: 1vmin;
        background-color: transparent;
        border-radius: 9px 9px 0px 0px;
        border: 1px solid $orange;
        font-size: 2.5vmin;
        color: $orange;
        cursor:pointer;
    
        &:focus {
          background-color: $orange;
          color: $black;
        }
    }
}
.users-container{
    background-color: $cream2;
    width: 90%;
    margin-left: 15vmin;
}
.users-data{
    overflow: auto;
}
.users-form{
    margin-top: 0 5vmin ;
}
.register-form{
    padding: 5vmin;
    h3 {
        margin: 0;
        padding: 1vmin;
        font-family: $body;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        background-color: $orange;
        width: 28vmin;
        border-radius: 10px;
    }
    form{
        background-color: $creamblur;
        padding: 5vmin;
    }
}