@import './Variables.scss';

.header {
  background-color: $cream2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-user {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 1vmin 0 1vmin 3vmin;
  p {
    margin-left: 2vmin;
  }
}

.current-time {
  display: flex;
  flex-direction: column;
  width: 10%;
  p {
    margin: 0.5vmin;
    text-align: center;
  }
}

.logout {
  align-items: center;
  width: 10%;
  cursor: pointer;
}
