@import './Variables.scss';

.container-done {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: relative;
  width: 80%;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 1;
  width: 100%;

  button {
    background: transparent;
    //padding: 3vmin 8vmin;
    border: 0;
    margin: 0 6vmin;
    margin-top: 1.5vmin;
    cursor: pointer;
    // height: 100%;
  }
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 0;
  margin: 2vmin 3vmin 2vmin 2vmin;
  width: 100%;
}
.container-info {
  display: flex;
  flex-direction: column;
  background-color: $creamblur;
  margin: 2vmin;
  width: 25vmin;
  height: 10vmin;
  border-radius: 10px 10px 10px 10px;

  h3 {
    align-items: center;
    margin: 0;
    font-family: $titulos;
    text-align: center;
  }
}

.status-closeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-family: $body;
    width: 8vmin;
    text-align: center;
    background-color: #45902cce;
    border-radius: 10px 10px 10px 10px;
    margin-left: 2vmin;
  }
  button {
    background-color: transparent;
    border: none;
    margin-left: 7vmin;
  }
}
