@import './Variables.scss';

.orders-content {
  background-image: url(../../assets/black-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  margin: 3vmin;
}
.div-resum-menu {
  display: flex;
  flex-direction: row;
}
.logo-orders-img {
  width: 15vmin;
  float: right;
}
.resum {
  width: 50%;
}
.menu {
  width: 50%;
}
