@import './Variables.scss';

.container-done {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: relative;
  width: 80%;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}
.container-info {
  display: flex;
  flex-direction: column;
  background-color: $creamblur;
  margin: 2vmin;
  width: 25vmin;
  height: 10vmin;
  border-radius: 10px 10px 10px 10px;

  h3 {
    align-items: center;
    margin: 0;
    font-family: $titulos;
    text-align: center;
    color:$cream;
    width:25vmin;
  }
}

.status-closeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-family: $body;
    width: 8vmin;
    text-align: center;
    // background-color: #45902cce;
    border-radius: 10px 10px 10px 10px;
    margin-left: 2vmin;
    padding:0 .5vmin;
    font-weight: bold;
  }
  button {
    background-color: transparent;
    border: none;
    margin-left: 5vmin;
    margin-bottom: 1vmin;
  }
}
