@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600&display=swap');

// paleta de colores
$yellow: #f2c744;
$orange: #f2884b;
$black: #0d0f0d;
$pink: #f227ab;
$cream: #f3e1cb;
$cream2:rgba(243, 225, 203, 0.88);
$creamblur: rgba(158, 149, 137, 0.6);
$cream2: rgba(243, 225, 203, 0.88);
$red: #db2a29;

//paleta colores boton login

// fonts
$titulos: 'Poppins', sans-serif;
$body: 'Khula', sans-serif;
